* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeue', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #FAFAFA;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px
}

p {
  font-size: 14px;
}
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,0);
}
nav {
  width: 720px;
  height: 60px;
  margin: 0 auto;
}
nav, nav > a, nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
    color: white;
}
nav img, nav li:first-child {
  margin-right: 16px;
}

section {
  width: 720px;
  margin: 64px auto;
}

.btn {
  display: block;
  width: 250px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  height: 40px;

  background: white;
  border-radius: 8px;
  box-shadow: -5px 63px 71px -88px rgba(0,0,0,1);
}

.green:hover {
  background: #69B558;
}

.grey:hover {
  background: #3c3c3c;
}

.header {
  width: 100%;
  height: 100vh;

  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("../assets/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  margin: 0;
}

.mission {
  width: 100%;
  height: 100vh;

  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75) ), url("../assets/about-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  margin: 0;
}
.member {
  width: 33%;
}

#headContainer {
  width: 720px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#headContainer p, #headContainer h1{
  color: white;
}
#headContainer > p {
  width: 450px;
  margin: 24px 0;
}
#headContainer > a{
  float: left;
  width: calc(50% - 16px);
  margin-right: 32px;
  color: #3c3c3c;
  font-weight: 600;
}
#headContainer > a:hover{
  color: white;
  font-weight: 600;
}

#headContainer > a:last-child{
  margin-right: 0;
  color: #69B558;
}
#headContainer > a:last-child:hover{
  color: white;
}

#features {
  display: flex;
}
#features > div{
  width: calc(50% - 16px);
  margin-right: 16px;
}
#features > div:first-child, #features li {
  background: white;
  border-radius: 6px;
  box-shadow: -5px 63px 71px -88px rgba(0,0,0,0.25);
  padding: 16px;
}
#features > div:first-child img {
  width: 100px;
  display: block;
  margin: 16px auto;
}
#features > div:first-child h2 {
  margin: 24px;
  text-align: center;
}
#features > div:first-child p {
  margin: 16px 0;
}
#features .btn {
  margin: 0 auto;
  color: white;
  font-weight: 600;
  background: #69B558;
}
#features .btn:hover {
  background: #3c3c3c;
}
#features li {
  margin-bottom: 16px;
}
#features li img {
  width: 24px;
  height: 24px;
}
#features li:last-child{
  margin: 0
}
#features > div:last-child{
  margin-right: 0;
}

#testimonials {
  height: 500px;
}
#testimonials h2 {
  text-align: center;
  margin-bottom: 24px;
}
#testimonialWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#testimonials > #testimonalContent ul {
  width: 100%;
  position: relative;
}
#testimonalContent li > p {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
#testimonalContent li > p span {
  font-weight: 600;
}
#testimonalContent li div {
  margin: 24px 0;
}
#testimonalContent li div > p, #testimonalContent li div > h2 {
  text-align: center;
}
#testimonials img{
  width: 100px;
  border-radius: 100%;
}
#testimonialWrapper > figure {
  width: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
#testimonialWrapper > figure div {
  transform: scale(0.8);
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
#testimonialWrapper > figure div:hover{
  cursor: pointer;
}


#story iframe {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 250px;
}

#team .btn {
  margin: 0 auto;
  color: white;
  background: #69B558;
}
#login {
  background: #69B558;
  margin: auto;
}

#team ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}
#team li{
  width: calc(33% - 16px);
}
#team li > img{
  display: block;
  margin: 0 auto;
  width: calc(100% - 32px);
}
 #team li  > p {
   text-align: center;
}

footer{
  background: #3c3c3c;
}
footer > section {
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 24px;
}
footer > section > div {
  width: calc(30% - 16px);
}

footer > section > div > h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 8px;
}

footer > section > div > a{
  display: block;
  margin: 16px 0;
  font-size: 14px;
  font-weight: 300;
  color: #69B558;
}

footer > section > div:last-child {
  width: calc(40% - 8px);
}

footer > section > div:last-child > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
footer > section > div:last-child > div p {
  margin-left: 8px;
  color: white;
}
footer > section > div:last-child > p {
  color: white;
  font-weight: 200;
  font-size: 12px;
}

footer > div {
  width: 100%;
  height: 20px;
  background: #222;
  margin-top: 16px;
}
footer > div p {
  width: 720px;
  margin: 0 auto;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  line-height: 20px;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
  nav, #headContainer, #headContainer > p, #story, #team, #testimonials{
    width: calc(100% - 32px);
  }
  #headContainer > a{
    float: none;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 0 16px 0;
  }
  #features {
    display: block;
    width: calc(100% - 32px);
    margin-top: 32px;
  }
  #features > div {
    width: 100%;
    margin: 0 0 16px 0;

  }
  footer > section, footer > div p, footer > section > div, footer > section > div:last-child  {
    display: block;
    width: calc(100% - 32px);
  }
  footer > section > div {
    margin-bottom: 32px;
  }

  #story iframe {
    width: 100%;
  }
  #team ul{
    width: calc(100% - 32px);
    display: block;
    margin: 0 auto;
  }
  #team li{
    width: 80%;
    margin: 0 auto 32px auto;
  }
  #team li > p{
    font-size: 24px;
    margin: 16px;
  }
}
