
#loginbox {
  background: white;
  width: 550px  ;
  margin: 24px auto;
  padding: 24px;
  border-radius: 8px;
}
#loginbox h2{
  text-align: center;
}
#loginbox p{
  text-align: center;
}
#loginbox btn{
  display: block;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  height: 40px;

  background: white;
  border-radius: 8px;
  box-shadow: -5px 63px 71px -88px rgba(0,0,0,1);
}
#loginbox btn:hover{
  background: #69B558;
}
